---
layout: default
---

<nav id='sidebar'>
	{% include nav.html %}
</nav>


<section id='content'>
  {% assign sorted_general = site.general | sort:'order' %}
  {% for section in sorted_general %}
    <article class='{{ section.type }}'>
      <a name='{{ section.url }}' href='#{{ section.url }}'><h2>{% if section.type %}<code><b>{{ section.type }}</b> {{ section.path }}</code> {% endif %}{{ section.title }}</h2></a>
      <section class='body'>
        {{ section.content }}
      </section>
    </article>
  {% endfor %}

  {% assign sorted_requirement= site.requirement | sort:'order' %}
  {% for section in sorted_requirement %}
    <article class='{{ section.type }}'>
      <a name='{{ section.url }}' href='#{{ section.url }}'><h2>{% if section.type %}<code><b>{{ section.type }}</b> {{ section.path }}</code> {% endif %}{{ section.title }}</h2></a>
      <section class='body'>
        {{ section.content }}
      </section>
    </article>
  {% endfor %}


<!-- {% for post in site.posts %}
  <article class='{{ post.type }}'>
    <a name='{{ post.url }}' href='#{{ post.url }}'><h2>{% if post.type %}<code><b>{{ post.type }}</b> {{ post.path }}</code> {% endif %}{{ post.title }}</h2></a>
    <section class='body'>
      {{ post.content }}
    </section>
  </article>
{% endfor %} -->

</section>
