<h1>{{ site.title }}</h1>
<ul id='links'>
  <li><h2>General Meterials</h2>
  <ul>
    {% assign sorted_general = site.general | sort:'order' %}
    {% for section in sorted_general %}
      <li><a href='#{{ section.url }}'>{{ section.title }}</a></li>
    {% endfor %}
  </ul>

  <li><h2>Requirement Deliverables</h2>
  <ul>
    {% assign sorted_requirement= site.requirement | sort:'order' %}
    {% for section in sorted_requirement %}
      <li><a href='#{{ section.url }}'>{{ section.title }}</a></li>
    {% endfor %}
  </ul>

  <li><h2>Sprint Deliverables</h2>
    <ul>
      {% assign sorted_sprint= site.sprint | sort:'order' %}
      {% for section in sorted_sprint %}
        <li><a href='#{{ section.url }}'>{{ section.title }}</a></li>
      {% endfor %}
    </ul>
  
</ul>